<% if Point.has_credited?(current_user.id) %>
  <li class="credited"><%= link_to 'Credited', user_point_path(current_user, Point.where(user: current_user.id).first), class: 'btn', method: :delete %>
  <% else %>
  <li class="credit"><%= button_to [current_user, @point] do %>
    Credit
  </li>
  <% end %>
<% end %>

