<% if Point.has_credited?(current_user.id) %>
    <a class="btn btn-success">Credit Given</a>
    <% else %>
    <a class="credit"><%= bootstrap_form_for [current_user, @point] do %>
     <% f.submit 'Give Credit', class: 'btn btn-primary'%>
    </a>
    <% end %>
<% end %>

