
<div id="postModal" class="modal fade row" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        Share a post
        </div>
        <div class="modal-body">
        <%=bootstrap_form_for @post, html: {class: "form center-block"} do |f| %>
          <div class="form-group">
            <%= f.text_area :body, hide_label: true, required: true, placeholder: "paste a link, create a post, post a update, etc", autofocus: "", class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <div>
          <%= f.submit "Post", class: "btn btn-success btn-large" %>
        </div>
        <%end%>
    </div>
  </div>
</div>
