
<% provide(:title, @title) %>
<div class="row">
    <h3><%= @title %></h3>
    <% if @users.any? %>

      <% @users.each do |user| %>
        <div class="col-md-5">
         <%= user.first_name%><%= user.last_name%>
        </div>
        <div class="col-md-4">
          <%= render 'users/follow_form' %><br/>
        </div>
       <% end %>

    <%end%>
    </div>
  </div>
</div>
