
<% provide(:title, @title) %>
<div class="row">

    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
      <% @user.each do |user| %>
        <div class="span6">
          <li><%= user.first_name%> <%= user.last_name%></li>
        </div>
        <div class="span4">
          <%= render 'users/follow_form' %>
        </div>
       <% end %>
      </ul>
    <%end%>
    </div>
  </div>
</div>
