<div class="jumbotron vertical-center">
  <div class="">
    <div class="home-content">
      <h1 class="text-center">Share knowledge and useful resources with like minded people</h1>
      <p class="text-center">Sign up to learn more or simply visit our site</p>
      <p class="text-center">
        <a class="btn btn-success btn-large" href="#">Visit Our Site</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-success btn-large" href="#">View Recent memebers</a>
      </p>
    </div>
  </div>
</div>

