
<div class="jumbotron ">
<!-- Main background cover-->
</div>

<div id="homepage" class="page-section">
  <div class="container tex-center">
    <h2 class="caption">Connect with like minded learners and share knowlege</h2>
    <ul class="text-center">
      <li><a class="btn btn-success btn-large" href="users/sign-up">Sign up</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-success btn-large" href="users/sign-up">Sign in</a>
      </li>
    </ul>
  </div>
</div>

<div id="how" class="page-section">
  <div class="container">
    <h2>how it works</h2>
    <p class="caption"></p>
  </div>
</div>


<div id="members" class="page-section">
  <div class="container">
    <h2>most recent members</h2>
    <p class="caption"></p>
  </div>
</div>

<div id="about" class="page-section">
  <div class="container">
    <h2>About Rushbase</h2>
    <p class="caption"></p>
  </div>
</div>





