
<div id="landing-page" class="row carousel slide"><!-- class of slide for animation -->

  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/classphot.jpg" alt="" />
    </div>

    <div class="item row">
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/class-photo5.JPG" alt="" />
    </div>

    <div class="item row">
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/northeastern1.jpg" alt="" />
    </div>

    <div class="item row">
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/class-photo6.JPG" alt="" />
    </div>
  </div><!-- /.carousel-inner -->
</div><!-- /.carousel -->

  <div class="carousel-caption row">
    <div class="container">
      <h1> Share your learning experience with like minded people</h1>
      <p>Find <span class="rotate">students, professionals, people </span> in your <span class="rotate">major, career path, industry </span> and share knowledge and useful resources</p>

      <span class="home-buttons">
        <a href="/auth/facebook" class="btn-facebook">
          <i class="fa fa-facebook fa-lg"></i><strong>Log in</strong> with <strong>Facebook</strong>
        </a>
      </span>

      <span class="how-it-works-btn">
          <a href="#" class="scroll-link btn btn-success btn-large" data-id="how">How it works</a>
      </span>
    </div>
  </div>


<div id="how" class="page-section">
  <div class="container">
    <h2 class="text-center">Simple Steps</h2>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <p >Sign in with facebook, choose a major/Industry that you are pursuing</p>
      </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <p>Enter what you are currently learning or want to learn, You will be suggested users that might be learning the same.</p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
           <p>Follow suggested users or find users to follow and see what resources they are using and what they are sharing</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
           <p>Find/create study groups that are related to your learning goals</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <p> You can start sharing the resources that you use or what you are learning and people who follow can see it and give you feedback </p>
        </div>
        <div class="col-md-4 col-xs-12 col-xs-12">
           <p>Ask questions other like minded people in your industry to get quality feed back</p>
        </div>
    </div>
    <div class="row text-center">
        <span class="how-it-works-btn">
          <a href="#" class="btn btn-success btn-large"> Get Started </a>
      </span>
    </div>

  </div>
</div>

<div id="members" class="page-section">
  <div class="container">
    <h2 class="text-center">Most recent members</h2>
    <div class="most-recent row">
    </div>
  </div>
</div>

<div id="about" class="page-section">
  <div class="container">
    <div class="row">
      <h3 class="text-center">Rushbase Groups</h3>
      <hr>

      <div class="col-md-6 about-col">
        <h4 class=""> For Learners</h4>
        <p>Rushbase allows users to create a group of like minded learners and share information with in a group, rushbase only allows public groups at the moment. Joining a group is the fastest way to engage with people who are learning similar subjects, contribute your ideas on different topics, ask questions, share information that you find useful and relevant with others, etc</p>


      </div>

      <div class="col-md-6 about-col">
        <h4 class=""> For Content publishers</h4>
        <p> Rushbase allows publishers to create a group of learners that use their content to learn, creating a group for your followers on rushbase and allow them to keep helping each other in a group. Tutorial producers are welcome to create a group for their community of learners.  </p>
      </div>
    </div>

    <div class="row">
      <span class="how-it-works-btn col-md-6">
        <a href="#" class="btn btn-success btn-large"> Find a Group </a>
      </span>

      <span class="how-it-works-btn col-md-6">
        <a href="/groups" class="btn btn-success btn-large">Start a group </a>
      </span>
    </div>
  </div>
</div>
