
<div id="landing-page" class="row carousel slide"><!-- class of slide for animation -->

  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/classphot.jpg" alt="" />
    </div>

    <div class="item row">
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/class-photo5.JPG" alt="" />
    </div>

    <div class="item row">
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/northeastern1.jpg" alt="" />
    </div>

    <div class="item row">
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/class-photo6.JPG" alt="" />
    </div>
  </div><!-- /.carousel-inner -->
</div><!-- /.carousel -->

  <div class="carousel-caption row">
    <div class="container">
      <h1> Share your learning experience with like minded people</h1>
      <p>Find <span class="rotate">students, professionals, people </span> in your <span class="rotate">major, career, industry </span> and share knowledge and resources</p>

      <span class="home-buttons">
        <a href="/auth/facebook" class="btn-facebook">
          <i class="fa fa-facebook fa-lg"></i><strong>Log in</strong> with <strong>Facebook</strong>
        </a>
      </span>

      <span class="how-it-works-btn">
          <a href="#" class="scroll-link btn btn-success btn-large" data-id="how">How it works</a>
      </span>
    </div>
  </div>


<div id="how" class="page-section">
  <div class="container">
    <h2 class="text-center">Simple Steps</h2>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">

        <p >Sign in with facebook, choose a major/Industry that you are pursuing</p>
      </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <p>Enter what you are currently learning or what you want to learn, You will be suggested users that are learning the same</p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
           <p>Follow suggested users or find users to follow and see what resources they are using and what they are sharing</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
           <p>Find/create groups that are related to your learning goals</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <p> You can start sharing the resources that you use or what you are learning and people who follow can see it and give you feedback </p>
        </div>
        <div class="col-md-4 col-xs-12 col-xs-12">
           <p>Ask questions other like minded people in groups or in questions/answers tab to allow everyone in your industry to see it in their feed</p>
        </div>
    </div>
    <div class="row text-center">
        <span class="how-it-works-btn">
          <a href="#" class="btn btn-success btn-large"> Get Started </a>
      </span>
    </div>

  </div>
</div>

<div id="members" class="page-section">
  <div class="container">
    <h2 class="text-center">Most recent members</h2>
    <div class="most-recent row">
    </div>
  </div>
</div>

<div id="about" class="page-section">
  <div class="container">
    <div class="row user-groups">
      <h3 class="text-center">Rushbase Groups</h3>
      <hr>
      <br/>

      <div class="col-md-6 col-sm-6 col-xs-12 about-col">
        <h4 class=""> For Learners</h4>
        <p>Rushbase allows users to create a group of like minded learners and share information with in a group, rushbase only allows public groups at the moment. Joining a group is the fastest way to engage with people who are learning similar subjects or in the same major/industry, contribute your ideas on different topics, ask questions, share information that you find useful with other members</p>

      </div>

      <div class="col-md-6  col-sm-6 col-xs-12 about-col">

            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <i class="fa fa-users fa-5x"></i>
            <br/>
            <br/>
            <span class="how-it-works-btn col-md-6">
               <a href="#" class="btn btn-success btn-large">Find a Group </a>
            </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 about-col">
        <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/avatar1.png">
      </div>
      <div class="col-md-6 about-col ">
          <h4 class=""> For Content publishers</h4>
          <p>Rushbase allows publishers of educational content to create a group of their followers and provide them with an open forum on rushbase to be able to connect and share knowledge. Creating a group for your users on rushbase also allows them to share research and other resources to help them be productive </p>
          <br/>
          <span class="how-it-works-btn col-md-6">
            <a href="/groups" class="btn btn-success btn-large">Start a group </a>
          </span>
      </div>
    </div>

  </div>
</div>
