/*** global ***/
html, body {
  height:100%;
  color:#42484d;
  margin:0px;
  padding:0px;

}
body {
z-index: 0;
background-repeat:no-repeat;

font-family:"Open Sans",helvetica,arial,sans-serif;
font-weight:400;
font-size:12.5pt;
}
div {
  display:block;
}
ul li {
  list-style-type: none;
}


/************************************** HOME PAGE STYLES ***************/

#landing-page{
  width:100%;
  height:auto;
  margin:auto 0;
  z-index: -99;
  height: 600px;

}

#landing-page img {
  width:100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat center top;
  background-position: top-center;

}

.carousel-caption{
  background-color: #000000;
  background-color:rgba(0, 0, 0, 0.14);
  left:0;
  top:0;
  bottom: 0;
  right: 0;
}

.carousel-caption h1 {
  font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif !important;
  padding-top: 50px;
  color:#fff;
  line-height: 1.2;
  font-weight: bold;
  color: #fff;
  font-size: 62px;
  font-weight: 900;
  margin-bottom: 10px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,0.99);
}
.rotate {
  color:#00af54;
  font-weight: 500;

}
.carousel-caption p {
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 30px;
  color: #fff;
  text-shadow:0 1px 2px rgba(243, 234, 234, 1);;
  font-size: 22px;
  font-weight: 300;
  font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif !important;
}

.carousel-caption span {
  padding:10px;
}
.btn-facebook {
  border-color: #3b5998;
  border-bottom-color: #263a63;
  background-color: #3b5998;
  color: #fff;
  width:100%;
  height:100%;
  padding:10px;
  border-radius: 5px;
  margin-top:10px;
}
.btn-facebook:hover{
  color:#fff;
  background:#3b5998;
  list-style-type: none;
  text-decoration: none;
}


.fa-facebook {
  padding-right:10px;
  border-right:5px #3b5998;
}
.how-it-works-btn a {
  color: #fff;
  font-size:18pt;
  width:200px;
  height:40px;
  padding:0px;
  border-radius: 5px;

}

/************************************* NAVIGATION-BAR STYLING  *************************/
.header {
  position: fixed;
  width: 100%;
}

.navbar-default {
   background: rgba(234, 248, 234, 0.56);
   border-left: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: black;
}
.row .navbar{
  border: none;
}
.collapse.collapse {
  border:0;
}
.navbar-nav li a{
  color:#fff;
}
.navbar-brand a {
  color:#fff;
}

.navbar ul {
  margin-left:60px;
}
.login-link {
  padding-right:30px;
}

.dropdown-menu {
  background-color:#5cb85c;
}

.dropdwon-menu li {
  background-color: #5cb85c;
}
.registration-btns li {
  padding:0 10 0 10;
  margin-right:10px;
  border-radius:10px;
}
/** Search Bar **/

.form-search {
  display:block;
  float:left;
  text-align: center;
  display: fixed;
  margin-right:150px;
  margin-top:5px;
  border-radius: 0px;
}
.subj  {
  padding-top:20px;

}
.navbar-form .form-control {
  width:350px;
}
/************************************ User profile styles  ************************************/

.wrapper {
  position:relative;
  margin:0;
  clear: both;
  padding:50px;
  margin-bottom: 100px !important;
  height:100%;
  border:5px solid #fff;
  border-radius:10px;
  background-color: #e7e7e7;
}
.inputsearch{
  width:400px;
}
.dashboard {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  border:5px solid #E3E8E6;
  width:760px;
  padding-right:20px;
}
.aside {
  display:block;
  text-align:left;
  width:250px;
  background-color: #fff;
  border:5px solid #E3E8E6;
  border-radius: 10px;
}
.aside li {
  text-align: left;
}
.aside h3 {
  background: #f8f8f9;
  margin:0px;
  margin-left:-40px;
  padding:10px;
  text-align: center;
}

.myfollowers .stat {
  padding-left:20px;
}
.action-buttons {
  background: #f8f8f9;
  margin-right:-20px;
  margin-left:0;
}

.action-buttons ul li {
  display: inline-block;
  padding:0px 30px 0 30px;
  text-align: left;
  margin-top:5px;
  text-transform: uppercase;
}

.user-basic-info li {
  list-style-type: none;
  font-size:12pt;
  margin-left:-50px;
  line-height: 1.2em;
  margin-top:5px;
}

.user-name {
  font-size: 16pt;
  color:#008f45;
}

.small {
  text-transform: uppercase;
}

.stats-bar .stat {
  padding-left:10px;
  width:90px;
  margin-right:0;

}
.stats-bar {
  margin:50px 0 50px 0;
}
.stat a {
  color:#777;
}
.blurb p {
  margin-top:20px;
}
/*****  Registrations Forms *****/

/* Log in Form*/
.registration-page{
  background: url("https://s3-us-west-2.amazonaws.com/rushbase-development/class-photo5.JPG") bottom center no-repeat;
  background-size: cover;
  background-position: top right;
  position: relative;
  right:0;
  left:0;;
}
.user-log {
  margin-top:120px;
}
.user-info-form {
  padding:10px;
}

.form-wrap{
  text-align: center;
  width:500px;
  background-color:#C3DED5;
  padding:40px;
  border-radius:5px;
  text-align: center;

}

.user-log .form-control {
  width:100%;
}
.text-area .form-control {
  width:300px;
}

.form-wrap .edit-page {
  width:800px;
}
.edit-page .form-wrap{
  text-align: center;
  width:800px;
  background-color:#C3DED5;
  padding:40px;
}
.user-login {
  background: url("https://s3-us-west-2.amazonaws.com/rushbase-development/class-photo6.JPG") bottom center no-repeat;
  background-size: cover;
  background-position: top right;
  position: relative;
  right:0;
  left:0;
}
/**** Posts Section Styling  ****/


.pull-left {
  float:left;
}
.pull-right {
  float:right
}
.user-post .image-for-poster{
  padding-top:40px;
}
.comment .btn {
  margin-right:20px;
}
.user-dashboard {
  margin-top:80px;
}
.all-members {
  margin-top: 150px;
}


.posts-area {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 30px;
  overflow: auto;
  margin-bottom: 20px;
  border:5px solid #fff;
  border-radius: 10px;
  height:auto;
  width:760px;
}

.post-body {
  padding:20px;
  margin:20px;
  border:3px solid #E3E8E6;
  border-radius:10px;
}

.poster {
  padding-left:20px;
}

.image-for-poster {
  padding-right:10px;
  margin-bottom: 30px;
}
.comment_button {
 height:52px;
 margin-left:-10px;
}
.comments {
  margin-right:10px;
}
.comments-details {
  background-color:#f8f8f9;
  border-radius: 5px;
}
.comments-details li {
  border-bottom:1px solid #fff;
  padding-bottom:10px;
  margin: 10px;
  background-color: #fff;
}
.description {
  padding-left:40px;
  padding-top:10px;
}
.count-comments-n-likes li {
  display: inline-block;
  padding:10px;
}
.nav-tabs  li {
  padding-right:50px;
  padding-left:50px;
}
.modal-content {
  width:800px;
  text-align:center;
}


/* LANDING PAGE*/


.header {
  position: fixed;
  width:100%;
  background:#5cb85c;
  z-index: 10;
  right: 0;
  left: 0;
}

.container {
  width:100%;
}
.header .navbar-brand {
  font-weight: 900;
}
.header .navbar{
  margin: 0;
  border: none;
}
.page-section {
  width: 100%;
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 150px;

}
.page-section h1 {
  font-size: 4em;
  margin: 50px 0;
}
.page-section h1 span {
  font-weight: 200;
}
.page-section h2 {
  font-size: 3em;
  font-weight: 900;
  color: #fff;
  margin: 0 0 30px;
  text-shadow: 2px 2px 2px #000;
}
.page-section p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 25% 20px 0;
}
.page-section p.lead {
  font-size: 1.8em;
}
.page-section p.caption {
  color: #fff;
  padding: 20px;
  text-shadow: 1px 1px 1px #000;
}
.page-section#home {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
}
#homepage h2 {
  text-align: center;
}
#homepage .btn {
  font-size:20pt;
  width:200px;
  height:60px;
  color:#fff;
  margin-top:120px;
}
.page-section#how {
  background-color: #2d3339;
  position: relative;
  right:0;
  left:0;
  top:0;
  color:#B1ADAD;
  margin-top:30px;
  padding-top: 20px;

}
#how li {
  color:#F8F1F1;
  font-size: 25pt;
  padding-left:10px;
  font-family: 'Tangerine', serif;

}
.page-section#members {
  background: url("https://s3-us-west-2.amazonaws.com/rushbase-development/highfive.jpg") top center no-repeat;
  background-color:#C3DED5;
  background-size: cover;
  background-position: center;
  right:0;
  left:0;
  padding-top:20px;
}

.most-recent {
  margin-top:80px;
}

.user-slider {
  color: #8c989e;
  font-size: 16px;
  font-style: normal;
  background-color: #fff;
  border:1px solid #8c989e;
  width:200px;
  height:260px;
  border-radius:10px;
  margin:10px;
}

.user-slider ul li {
  padding:5px;
  text-align: center;
}

.page-section#about {
   background-color: #fff ;
   font-family: "Gotham Rounded A", "Gotham Rounded B" !important;
   color:#384047;
}

#how .btn-success {
  color: #fff;
  background-color: #BDC4BD;
  border-color: #DEE4DE;
  margin-top: 40px;
  width:300px;
}

#how .btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #2d3339;

}
#how h2 {
  color:#B1ADAD;
}
#how p{
  margin:20px;
}
#about .container {
  padding:0 80px 0 80px;
}





