/*** global ***/
html, body {
  height:100%;
  color:#42484d;;
}
body {
z-index: 0;
background-position:top center;
background-repeat:no-repeat;
background:#eff0f2;
font-family:"Open Sans",helvetica,arial,sans-serif;
font-weight:400;
font-size: 10.5pt;
}
div {
  display:block;
}
ul li {
  list-style-type: none;
}

/************************************** HOME PAGE STYLES ***************/
.jumbotron {
    background:url(highfive.jpg) no-repeat center center;
    background-size:cover;
    height:100%;
    width:100%;
    margin:auto 0;
    position:fixed;
    top:0;
    left:0;
    z-index: -99;
    background-color:transparent;
    background-color:rgba(255, 255, 255, 0.9);
  }
.home-content h1 {
  padding-top:150px;
  color:#fff;
  line-height: 1.1;
  font-family: "Abel", Arial, sans-serif;
  font-weight: 400px;
}
.home-content p {
  color:white;
}
/************************************* NAVIGATION-BAR STYLING  ***************************/

.navbar-inverse{
  background-color:#008f45;
  border-color:#008f45;
  margin-bottom:40px;

}
.navbar-inverse .navbar-brand {
  color:white;
  size:20px;

}
.navbar-inverse .navbar-nav > li > a {
  color: white;
  margin-top:5pxpx;
}
.navbar-inverse .navbar-nav > li  {
  color: white;
  margin-top:15px;
}
.navbar-inverse .navbar-text {
  color: white;
}
.registration-btns li {
  padding:0 10 0 10;
  margin-right:10px;
  border-radius:10px;
}

/** Search Bar **/
.navbar-inverse .navbar-nav > ul> li:first-child {

}
.form-search {
  display:block;
  float:left;
  text-align: center;
  display: fixed;
  margin-right:150px;
  margin-top:5px;
  border-radius: 0px;
}
/************************************ User profile styles  ************************************/

.wrapper {
  position:relative;
  margin:0;
  clear: both;
  padding:50px;
  margin-bottom: 100px !important;
 // border:2px solid green;
  margin-top:85px;
  height:100%;
}

.dashboard {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  border:10px solid #E3E8E6;
}

.useravatar > img{
  margin-top:;
}
.stats {
  border-bottom:1px solid #eff0f2;
}
.myfollowers .stat  {
  padding-left:20px;
}
.action-buttons {

}
.action-buttons ul li {
  display: inline-block;
  padding:10px 60px 5px 20px;
  border:1px solid #eff0f2 ;
  border-collapse: collapse;
  margin-top:5px;
  text-transform: uppercase;
}

.user-basic-info li {
  list-style-type: none;
  font-size:12pt;
  margin-left:-50px;
  line-height: 1.2em;
  margin-top:5px;
}
.user-name {
  font-size: 16pt;
  color:#008f45;
}
.small {
  text-transform: uppercase;
}
.stats .stat {
  padding:10px;
  width:100px;
}
/*****  Registrations Forms *****/

/* Log in Form*/
.user-log {
  margin-top:120px;
}
.user-info-form {
  padding:10px;
}

.form-wrap{
  text-align: center;
  width:500px;
  background-color:#C3DED5;
  padding:40px;
}

.form-wrap .edit-page {
  width:800px;
}
.edit-page .form-wrap{
  text-align: center;
  width:800px;
  background-color:#C3DED5;
  padding:40px;
}
/**** Posts Section Styling  ****/
.post-content {
  padding:20px;
  margin:20px;
  border:5px solid #E3E8E6;
}
.form-control {
  width:700px
}
.pull-left {
  float:left;
}
.pull-right {
  float:right
}
.user-post .image-for-poster{
  padding-top:40px;
}
.comment .btn {
  margin-right:20px;
}
.user-dashboard {
  margin-top:80px;
}
.all-members {
  margin-top: 150px;
}

.posts-area {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 30px;
  overflow: auto;
  margin-bottom: 20px;
  border:10px solid #E3E8E6;
  height:auto;
}
.post-body {
  padding:20px;
  margin:20px;
  border:3px solid #E3E8E6;
  border-radius:10px;
}
.poster {
  padding-left:20px;
}
.image-for-poster {
  padding-right:10px;
}
.count-comments-n-likes li {
  display: inline-block;
  padding:10px;
}
.comments_details li {
  background:red;
}











