
<div class="container">
  <header class="row">
      <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%=link_to "Rushbase", root_path, class: "navbar-brand scroll-top" %>
        </div>
        <div class="collapse navbar-collapse text-center" id="collapse">
           <ul class="nav navbar-nav">
              <li><a href="#" class="scroll-link" data-id="landing-page">Getting started</a></li>
              <li><a href="#" class="scroll-link" data-id="how">How it works</a></li>
              <li><a href="#" class="scroll-link" data-id="members">Recent Members</a></li>
              <li><a href="#" class="scroll-link" data-id="about">About</a></li>
          </ul>

          <div class="login pull-right">
            <ul class="nav navbar-nav pull-right registration-btns">
              <li class="login-link"><a href="/auth/facebook"><img src="https://s3-us-west-2.amazonaws.com/rushbase-development/fblogin.jpeg"></a></li>
            </ul>
          </div>

        </div>
      </nav>
  </header>
</div>
