<%= form_for(current_user.followers.build(followed_user_id: @user.id)) do |f| %> <div><%= f.hidden_field :followed_user_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>
