<div class="row">
  <% if current_user %>
    <div class="all-members">
      <% @users.each do |user| %>
      <div class="span4 pull-left">
        <div class="useravatar"><%=image_tag user.avatar.url(:thumb), :class => "img-circle"%></div>
      </div>
      <div class="span4">
        <li><%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%></li>
      </div>
      <hr>
    <%end%>
  <%end%>
</div>

<!--post modal -->
