<div class="row">
  <div class="all-members">
    <% @members.each do |member| %>
    <li><%= link_to "#{member.first_name} #{member.last_name}", member_path(member)%></li>
    <%end%>
  </div>
</div>
<!--post modal -->
<li>




